@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.ocean {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0077b6 0%, #001220 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Card Efek Kaca */
.payment-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 30px;
    width: 360px;
    color: white;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
    z-index: 10;
}

/* Input Dana */
.input-box {
    background: rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 15px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    border: 2px solid #90e0ef;
}
.input-box input {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    outline: none;
    margin-left: 10px;
}

/* List Menu */
.method-list { display: flex; flex-direction: column; gap: 15px; }
.item {
    background: rgba(255,255,255,0.1);
    padding: 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.item:hover { background: rgba(255,255,255,0.3); transform: translateX(5px); }
.icon { width: 45px; height: 45px; border-radius: 10px; display: flex; justify-content: center; align-items: center; margin-right: 15px; }
.qris-bg { background: #ff4757; }
.bank-bg { background: #ffa502; }
.text { text-align: left; }
.text strong { display: block; font-size: 0.9rem; }
.text small { font-size: 0.7rem; opacity: 0.8; }

/* QRIS Frame & Scanner */
.hidden { display: none; }
.qris-frame {
    background: white;
    padding: 15px;
    border-radius: 20px;
    width: 200px;
    margin: 20px auto;
    position: relative;
}
.qris-frame img { width: 100%; }
.scanner-line {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 2px;
    background: red; box-shadow: 0 0 10px red;
    animation: scan 2s infinite linear;
}

@keyframes scan { 0% { top: 15px; } 100% { top: 215px; } }

/* Dekorasi */
.bubble {
    position: absolute;
    width: 30px; height: 30px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    bottom: -50px;
    animation: rise 10s infinite;
}
@keyframes rise { 100% { bottom: 110%; opacity: 0; } }

.back-btn, .confirm-btn {
    background: #00b4d8; border: none; color: white;
    padding: 10px 20px; border-radius: 10px; cursor: pointer;
    margin-top: 10px; font-weight: bold;
}
